.mySlides {
  display:none; 
}
.mySlidess {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bckgrnd {
  background-color: #eec9ee;  
  margin-left: 7px;
  margin-right: 10px;
  }

.H1{
  color: rgb(26, 0, 139);
  font-family: Papyrus;
  font-size: 300%;
  font-style: oblique;
  font-weight: 900;

}
.H3{
  color: rgb(207, 5, 22);
  font-family: "Dancing Script", cursive;
  font-size: 150%;
  font-style: normal;
  font-weight: 900;
}
.a {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 110%;
}
.heading{
  color: rgb(5, 75, 52);
  font-family: Brush Script MT;
  font-size: 180%;
  font-style: normal;
  font-weight: 900;
  margin-top: 40px;
  margin-left: 7px;
  margin-right: 10px;
  background-color: rgba(155, 206, 135, 0.295);
}
